<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<body>

<th:block th:replace="~{common/header :: header-fragment}"></th:block>
<h2>게시물 상세조회</h2>
<div>
    <div th:text="'작성자: ' + ${board.name}"></div>
    <!--    이거 날짜와 시간 넣을때 개인적으로 연도하고 분, 초는 필요가 없다고 생각함.-->
    <div th:text="${#temporals.format(board.createdat,  'yyyy-MM-dd HH:mm:ss')} + ' 작성'"></div>
</div>
<div>
    <span th:text="${board.title}"></span>
</div>

    <div>
        <span th:text="${board.content}"></span>
    </div>

    <!-- 첨부파일목록 -->
            <div class="container mt-3 mb-3 border rounded">
                <div class="mb-3 mt-3">
                    <label>첨부파일:</label>
                    <!-- 첨부파일 이름, 다운로드 링크 -->
                    <ul class="list-group mb-1">
                        <li class="list-group-item" th:each="attachment : ${board.fileList}">
                            <a th:href="@{/board/download(id=${attachment.id})}" th:text="${attachment.sourceName}"></a>
                        </li>
                    </ul>
                    <!--  이미지인 경우 보여주기 -->
                    <div th:each="attachment : ${board.fileList}" th:if="${attachment.image}">
                        <img th:src="@{'/upload/' + ${attachment.fileName}}" class="img-thumbnail" alt="image">
                    </div>
                </div>
            </div>
            <!-- 첨부파일목록 -->


<table>
    <div th:unless="${id} == ${board.user_id}">
        <form th:if="${board.follow}" th:action="@{/board/follow/delete}" method="post">
            <input type="hidden" name="followingUserId" th:value="${board.user_id}" />
            <input type="hidden" name="followedUserId" th:value="${board.user_id}" />
            <input type="hidden" name="id" th:value="${board.id}">
            <button type="submit">언팔로우</button>
        </form>

        <form th:unless="${board.follow}" th:action="@{/board/follow/insert}" method="post">
            <input type="hidden" name="followingUserId" th:value="${board.user_id}" />
            <input type="hidden" name="followedUserId" th:value="${board.user_id}" />
            <input type="hidden" name="id" th:value="${board.id}">
            <button type="submit">FOLLOW</button>
        </form>
    </div>
    <span th:text="'신고' + ${postWarningCount} + '개'"></span>
</table>
<!--            태그 보여주기-->
<div class="tagType" th:if="${board.type == 'guest'}">
            <span class="tagName" th:each="tag : ${board.post_tag}" th:text=" '# ' + ${tag.name} + '  '"
                  th:style="'color:' + ${tag.color} + '; border: 1px solid ' + ${tag.color}"></span>
</div>
<div class="tagType" th:if="${board.type == 'helper'}">
            <span class="tagName" th:each="tag : ${board.user_tag}" th:text=" '# ' + ${tag.name} + '  '"
                  th:style="'color:' + ${tag.color} + '; border: 1px solid ' + ${tag.color}"></span>
</div>


<div>
    <button><a th:href="@{'/board/list'}">목록</a></button>
</div>
<div>
    <button th:if="${id} == ${board.user_id}">
        <a th:href="@{'/board/update/' + ${board.id}}">수정하기</a>
    </button>

</div>
<div>
    <form th:action="@{'/board/delete'}" method="post">
        <input type="hidden" name="id" th:value="${board.id}"/>
        <button th:if="${id} == ${board.user_id}">삭제하기</button>
    </form>

    <!--신고-->
    <form th:action="@{/board/warning}" method="post"
          th:if="${id} != ${board.user_id} and !${hasReported} and ${id != null} ">
        <input type="hidden" name="postId" th:value="${board.id}"/>


            <div id="reasonBox" style="display: none;">
                <label for="reason">신고 사유</label>
                <textarea name="reason" id="reason" ></textarea>
                <button type="submit">신고 접수</button>
            </div>

            <button type="button" onclick="document.getElementById('reasonBox').style.display = 'block'">
                신고하기
            </button>
        </form>

</div>

<!-- 댓글 섹션 추가 -->
<div th:replace="board/comment :: comment-fragment"></div>

<!-- 댓글 로직용 전역 변수 -->
<script th:inline="javascript">
    window.postId = [[${board.id}]];
    window.loggedUserId = [[${id}]];
    window.postAuthorId = [[${board.user_id}]];
</script>
<!-- 댓글 JS 로직 로드 -->
<script th:src="@{/js/comment.js}"></script>



</body>

</html>