<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagination">
  <div class="container mt-4">
    <ul class="pagination justify-content-center">

      <!-- << 처음 -->
      <li class="page-item" th:if="${page > 1}">
        <a class="page-link"
           th:href="@{${url}(type=${selectedType}, pageRows=${pageRows}, page=1)}"
           title="처음">&laquo;</a>
      </li>

      <!-- < 이전 -->
      <li class="page-item" th:if="${startPage > 1}">
        <a class="page-link"
           th:href="@{${url}(type=${selectedType}, pageRows=${pageRows}, page=${startPage - 1})}">&lsaquo;</a>
      </li>

      <!-- 페이지 숫자 -->
      <th:block th:if="${startPage != null and endPage != null}">
        <th:block th:each="k : ${#numbers.sequence(startPage, endPage)}">
          <li class="page-item" th:classappend="${k == page} ? 'active'">
            <a class="page-link"
               th:href="@{${url}(type=${selectedType}, pageRows=${pageRows}, page=${k})}"
               th:text="${k}"></a>
          </li>
        </th:block>
      </th:block>



      <!-- > 다음 -->
      <li class="page-item" th:if="${totalPage > endPage}">
        <a class="page-link"
           th:href="@{${url}(type=${selectedType}, pageRows=${pageRows}, page=${endPage + 1})}">&rsaquo;</a>
      </li>

      <!-- >> 마지막 -->
      <li class="page-item" th:if="${page < totalPage}">
        <a class="page-link"
           th:href="@{${url}(type=${selectedType}, pageRows=${pageRows}, page=${totalPage})}"
           title="끝">&raquo;</a>
      </li>

    </ul>
  </div>
</th:block>
</html>