<!-- templates/views/common/header.html -->
<th:block th:fragment="header-fragment" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header class="site-header">
        <div class="header__inner">
            <!-- 로고 -->
            <div class="header__logo">
                <a th:href="@{/}">ROOFY</a>
            </div>

            <!-- 네비게이션 -->
            <nav class="header__nav-wrapper">
                <ul class="header__nav">
                    <!-- 로그인했을 때만 보일 메뉴 (일반 사용자) -->
                    <li sec:authorize="isAuthenticated() and !hasRole('ADMIN')">
                        <a href="#"
                           class="nav-item"
                           onclick="openMapFromHeader()"
                           th:text="${#authentication.principal.user.areaName}">
                            위치
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated() and !hasRole('ADMIN')">
                        <span class="nav-item" th:text="${#authentication.principal.user.name}">닉네임</span>
                    </li>
                    <li sec:authorize="isAuthenticated() and !hasRole('ADMIN')">
                        <a class="nav-item" th:href="@{/mypage}">마이페이지</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a class="nav-item" th:href="@{/user/login}">로그인</a>
                    </li>
                    <li sec:authorize="isAuthenticated() and !hasRole('ADMIN')">
                        <a class="nav-item" th:href="@{/user/logout}">로그아웃</a>
                    </li>
                </ul>

                <!-- 관리자 메뉴 -->
                <ul class="header__nav" sec:authorize="hasRole('ADMIN')">
                    <li><span class="nav-item" th:text="${#authentication.principal.user.name}">관리자</span></li>
                    <li><a class="nav-item" th:href="@{/user/logout}">로그아웃</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- 지도 모달 -->
    <div class="modal fade" id="headerMapModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">내 위치</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                </div>
                <div class="modal-body">
                    <div id="headerMap" style="width: 100%; height: 300px; border: 1px solid black"></div>
                    <p><strong>행정구역:</strong> <span id="headerAddressOutput">-</span></p>
                </div>
            </div>
        </div>
    </div>
</th:block>