<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>태그Form</title>
    <link rel="stylesheet" th:href="@{/css/tag.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/js/tag.js"></script>
</head>

<th:block th:fragment="tag-fragment">

    <div>
        <!--태그 검색창-->
        <form th:action="@{/tag}" method="post">
            <div id="tagSearch">
                <!--태그 검색 및 추가-->
                <div id="searchZone">
                    <input type="text" name="tagName" placeholder="태그 검색" th:value="${name}">
                    <input type="hidden" name="categoryId">
                    <button type="submit" id="tagSearchButton">검색</button>
                    <button type="button" id="tagAddButton">추가</button>
                </div>

                <!--카테고리 보여주기-->
                <div id="categoryZone">
                    <p>카테고리 선택</p>
                    <div th:each="category : ${categoryList}" th:text="${category.name}"
                         th:style="'background-color: ' + ${category.color} + '; display: inline-block'"
                         class="categoryBox"
                         th:id="${category.id}"
                         th:classappend="${submittedCategoryId != null and category.id == submittedCategoryId} ? 'selected' : ''">

                    </div>
                    <div th:if="${searchedTag != null}" th:text="${'카테고리: ' + searchedTagCategoryName + ' - 태그: ' + searchedTag.name}">

                    </div>
                </div>

                <!--validation 문구-->
                <div>
                    <div><span th:if="${error_tagName}" th:utext="${error_tagName}"></span></div>
                    <div><span th:if="${error_categoryId}" th:utext="${error_categoryId}"></span></div>
                </div>
            </div>
        </form>


        <form th:action="@{/board/list}" name="tagForm">
            <!--담은 태그 목록창-->
            <div id="tagChoice">
                <div id="tagList">

                </div>

                <!--radio 와 버튼-->
                <div id="optionButtons">
                    <input type="radio" name="type" value="guest" id="guest" checked>
                    <label for="guest">손님</label>
                    <input type="radio" name="type" value="helper" id="helper">
                    <label for="guest">도우미</label>

                    <button id="deleteAll" type="button">초기화</button>
                    <button id="postSearch" type="submit">조회</button>
                    <button id="saveTagList" type="button">확인</button>
                </div>
            </div>
        </form>
    </div>
</th:block>
</html>