<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>ROOFY</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTB-m0-ZCanKi1R6CYmoqR4Xx29RRq2IE"></script>
<!--	<script src="/js/location.js"></script>-->
</head>

<body>
<!-- 조건부 헤더 -->
<!--<div th:if="${not #httpServletRequest.requestURI.matches('/user/(login|register).*')}">-->
<div th:if="${#httpServletRequest != null and not #httpServletRequest.requestURI.matches('/user/(login|register).*')}">
	<!--	<div th:replace="~{common/header :: header-fragment}"></div>-->
	<!--	로그인 구현해야 주석 해제가능-->
</div>

<div th:replace="~{common/header :: header-fragment}"></div>

<main layout:fragment="content">

	<div th:replace="~{common/tag :: tag}"></div>


	<!--글쓰기 작성-->
	<button><a th:href="@{/board/write}">글쓰기</a></button>

</main>
<!-- 지도 모달 -->
<div class="modal fade" id="mapModalFromHeader" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">내 현재 위치</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div id="mapFromHeader" style="width: 100%; height: 400px;"></div>
				<p class="mt-2">현재 위치: <span id="modal-area-name-header">로딩 중...</span></p>
			</div>
		</div>
	</div>
</div>

<script>
	function openMapFromHeader() {
		openMap("mapFromHeader", "mapModalFromHeader", "modal-area-name-header");
	}
</script>
</body>
</html>-->


<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>ROOFY</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/tag.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCXyWoVsfAgdZ27Ap0AZEKVXEOfz0ifDA"></script>
	<script th:src="@{/js/location.js}"></script>
	<script th:src="@{/js/tag.js}"></script>
</head>

<body>
<!--태그 Form-->
<th:block th:insert="~{common/tag::tag}"></th:block>

<button><a th:href="@{/board/write}">글쓰기</a></button>

<!--현재 위치 가져오기-->
<div id="location">
	<button id="getLocation">현재 위치 가져오기</button>
	<div id="showLocation"></div>
	<div id="showLat"></div>
	<div id="showLng"></div>
	<div id="showMap"></div>
</div>


</body>
</html>