/* 카테고리 박스 호버 스타일 */
.categoryBox:hover {
    cursor: pointer;
}

/* 선택된 카테고리 박스 스타일 */
.categoryBox.selected {
    color: #000;
    border-style: solid;
    border-color: #0000;
    border-width: 0px;
    box-shadow: 0px 0px 3px #000; /* 선택 시 그림자 */
}

/*에러 문구*/
div.showError span{
    color: #d22;
}

/*검색 성공 문구*/
div.searchSucceed{
    color: #11e;
}